# Copy to .env and fill values
DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1

# JWT
JWT_SECRET_KEY=change-me-jwt

# MongoDB
MONGODB_URI=mongodb://localhost:27017/
MONGODB_NAME=electrofix
